
@{
    ViewData["Title"] = "ExamQuestion";
    Layout = "~/Views/Layout/_Layout.cshtml";
}



<div class="content-wrapper">
    <div>
        <br />
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Questions</div>
            </div>
            <div class="ibox-body">
                <div class="clf">
                    <ul class="nav flex-column nav-tabs tabs-left">
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-6-1" data-toggle="tab"><i class="fa fa-heartbeat"></i> 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-6-2" data-toggle="tab"><i class="fa fa-heartbeat"></i> 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-6-3" data-toggle="tab"><i class="fa fa-heartbeat"></i> 3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-6-4" data-toggle="tab"><i class="fa fa-heartbeat"></i> 4</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-6-5" data-toggle="tab"><i class="fa fa-heartbeat"></i> 5</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-6-6" data-toggle="tab"><i class="fa fa-heartbeat"></i> 6</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-6-7" data-toggle="tab"><i class="fa fa-heartbeat"></i> 7</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-6-8" data-toggle="tab"><i class="fa fa-heartbeat"></i> 8</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-6-9" data-toggle="tab"><i class="fa fa-heartbeat"></i> 9</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-6-10" data-toggle="tab"><i class="fa fa-heartbeat"></i> 10</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show" id="tab-6-1">
                            It's Question Number 1.
                            <br />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="tab-pane">
                                        <div class="check-list">
                                            <label class="ui-radio ui-radio-primary">
                                                <input type="radio" name="test1">
                                                <span class="input-span"></span>A. Primary
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-success">
                                                <input type="radio" name="test1">
                                                <span class="input-span"></span>B. Success
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-info">
                                                <input type="radio" name="test1">
                                                <span class="input-span"></span>C. Info
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-warning">
                                                <input type="radio" name="test1">
                                                <span class="input-span"></span>D. Warning
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-danger">
                                                <input type="radio" name="test1">
                                                <span class="input-span"></span>E. Danger
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="tab-6-2">
                            It's Question Number 2.
                            <br />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="tab-pane">
                                        <div class="check-list">
                                            <label class="ui-radio ui-radio-primary">
                                                <input type="radio" name="test2">
                                                <span class="input-span"></span>A. Primary
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-success">
                                                <input type="radio" name="test2">
                                                <span class="input-span"></span>B. Success
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-info">
                                                <input type="radio" name="test2">
                                                <span class="input-span"></span>C. Info
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-warning">
                                                <input type="radio" name="test2">
                                                <span class="input-span"></span>D. Warning
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-danger">
                                                <input type="radio" name="test2">
                                                <span class="input-span"></span>E. Danger
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="tab-6-3">
                            It's Question Number 3.
                            <br />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="tab-pane">
                                        <div class="check-list">
                                            <label class="ui-radio ui-radio-primary">
                                                <input type="radio" name="test3">
                                                <span class="input-span"></span>A. Primary
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-success">
                                                <input type="radio" name="test3">
                                                <span class="input-span"></span>B. Success
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-info">
                                                <input type="radio" name="test3">
                                                <span class="input-span"></span>C. Info
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-warning">
                                                <input type="radio" name="test3">
                                                <span class="input-span"></span>D. Warning
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-danger">
                                                <input type="radio" name="test3">
                                                <span class="input-span"></span>E. Danger
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="tab-6-4">
                            It's Question Number 4.
                            <br />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="tab-pane">
                                        <div class="check-list">
                                            <label class="ui-radio ui-radio-primary">
                                                <input type="radio" name="test4">
                                                <span class="input-span"></span>A. Primary
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-success">
                                                <input type="radio" name="test4">
                                                <span class="input-span"></span>B. Success
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-info">
                                                <input type="radio" name="test4">
                                                <span class="input-span"></span>C. Info
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-warning">
                                                <input type="radio" name="test4">
                                                <span class="input-span"></span>D. Warning
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-danger">
                                                <input type="radio" name="test4">
                                                <span class="input-span"></span>E. Danger
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="tab-6-5">
                            It's Question Number 5.
                            <br />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="tab-pane">
                                        <div class="check-list">
                                            <label class="ui-radio ui-radio-primary">
                                                <input type="radio" name="test5">
                                                <span class="input-span"></span>A. Primary
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-success">
                                                <input type="radio" name="test5">
                                                <span class="input-span"></span>B. Success
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-info">
                                                <input type="radio" name="test5">
                                                <span class="input-span"></span>C. Info
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-warning">
                                                <input type="radio" name="test5">
                                                <span class="input-span"></span>D. Warning
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-danger">
                                                <input type="radio" name="test5">
                                                <span class="input-span"></span>E. Danger
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="tab-6-6">
                            It's Question Number 6.
                            <br />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="tab-pane">
                                        <div class="check-list">
                                            <label class="ui-radio ui-radio-primary">
                                                <input type="radio" name="test6">
                                                <span class="input-span"></span>A. Primary
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-success">
                                                <input type="radio" name="test6">
                                                <span class="input-span"></span>B. Success
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-info">
                                                <input type="radio" name="test6">
                                                <span class="input-span"></span>C. Info
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-warning">
                                                <input type="radio" name="test6">
                                                <span class="input-span"></span>D. Warning
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-danger">
                                                <input type="radio" name="test6">
                                                <span class="input-span"></span>E. Danger
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="tab-6-7">
                            It's Question Number 7.
                            <br />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="tab-pane">
                                        <div class="check-list">
                                            <label class="ui-radio ui-radio-primary">
                                                <input type="radio" name="test7">
                                                <span class="input-span"></span>A. Primary
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-success">
                                                <input type="radio" name="test7">
                                                <span class="input-span"></span>B. Success
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-info">
                                                <input type="radio" name="test7">
                                                <span class="input-span"></span>C. Info
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-warning">
                                                <input type="radio" name="test7">
                                                <span class="input-span"></span>D. Warning
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-danger">
                                                <input type="radio" name="test7">
                                                <span class="input-span"></span>E. Danger
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="tab-6-8">
                            It's Question Number 8.
                            <br />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="tab-pane">
                                        <div class="check-list">
                                            <label class="ui-radio ui-radio-primary">
                                                <input type="radio" name="test8">
                                                <span class="input-span"></span>A. Primary
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-success">
                                                <input type="radio" name="test8">
                                                <span class="input-span"></span>B. Success
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-info">
                                                <input type="radio" name="test8">
                                                <span class="input-span"></span>C. Info
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-warning">
                                                <input type="radio" name="test8">
                                                <span class="input-span"></span>D. Warning
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-danger">
                                                <input type="radio" name="test8">
                                                <span class="input-span"></span>E. Danger
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="tab-6-9">
                            It's Question Number 9.
                            <br />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="tab-pane">
                                        <div class="check-list">
                                            <label class="ui-radio ui-radio-primary">
                                                <input type="radio" name="test9">
                                                <span class="input-span"></span>A. Primary
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-success">
                                                <input type="radio" name="test9">
                                                <span class="input-span"></span>B. Success
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-info">
                                                <input type="radio" name="test9">
                                                <span class="input-span"></span>C. Info
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-warning">
                                                <input type="radio" name="test9">
                                                <span class="input-span"></span>D. Warning
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-danger">
                                                <input type="radio" name="test9">
                                                <span class="input-span"></span>E. Danger
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="tab-6-10">
                            It's Question Number 10.
                            <br />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="tab-pane">
                                        <div class="check-list">
                                            <label class="ui-radio ui-radio-primary">
                                                <input type="radio" name="test10">
                                                <span class="input-span"></span>A. Primary
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-success">
                                                <input type="radio" name="test10">
                                                <span class="input-span"></span>B. Success
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-info">
                                                <input type="radio" name="test10">
                                                <span class="input-span"></span>C. Info
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-warning">
                                                <input type="radio" name="test10">
                                                <span class="input-span"></span>D. Warning
                                            </label>
                                            <br />
                                            <label class="ui-radio ui-radio-danger">
                                                <input type="radio" name="test10">
                                                <span class="input-span"></span>E. Danger
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
            </div>
        </div>
    </div>
</div>