
@{
    ViewData["Title"] = "ManageQuestions";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- START PAGE CONTENT-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header no-bd">
                    <h5 class="modal-title"><span class="fw-mediumbold">Questions</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="row-no-gutters">
                            <input type="text" id="Id" name="Id" class="form-control" hidden>
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Question<small style="color:red">*</small></label>
                                    <input type="text" id="QuestionDetail" name="QuestionDetail" class="form-control" placeholder="Question Detail" required>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="form-group form-group-default">
                                    <label>Subject<small style="color:red">*</small></label>
                                    <select class="form-control" id="SubOption" name="SubOption" required></select>
                                </div>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="form-group form-group-default">
                                    <label>Subject<small style="color:red">*</small></label>
                                    <select class="form-control" id="SectionOption" name="SectionOption" required></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>Option A<small style="color:red">*</small></label>
                                    <input type="text" id="OptionA" name="OptionA" class="form-control" placeholder="Option A" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>Option B<small style="color:red">*</small></label>
                                    <input type="text" id="OptionB" name="OptionB" class="form-control" placeholder="Option B" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>Option C<small style="color:red">*</small></label>
                                    <input type="text" id="OptionC" name="OptionC" class="form-control" placeholder="Option C" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>Option D<small style="color:red">*</small></label>
                                    <input type="text" id="OptionD" name="OptionD" class="form-control" placeholder="Option D" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>Option E<small style="color:red">*</small></label>
                                    <input type="text" id="OptionE" name="OptionE" class="form-control" placeholder="Option E" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>Key<small style="color:red">*</small></label>
                                    <input type="text" id="Key" name="Key" class="form-control" placeholder="Key" required>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label><small style="color:red">*</small>Form must be filled in</label>
                            </div>
                        </div>


                        <div class="modal-footer no-bd">
                            <button type="button" id="add" class="btn btn-outline-success" data-dismiss="modal" onclick="Save();">Insert</button>
                            <button type="button" id="update" class="btn btn-outline-warning" data-dismiss="modal" onclick="Update();">Update</button>
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>


    <div class="page-heading">
        <h1 class="page-title">Manage Questions</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/"><i class="la la-home font-20"></i></a>
            </li>
        </ol>
        <div data-toggle="modal" data-target="#myModal" onclick="ClearScreen();">
            <button class="btn btn-outline-success btn-circle" data-toggle="tooltip" data-placement="right" data-animation="false" title="Add">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="page-content fade-in-up">
        <div class="ibox">
            @*<div class="ibox-head">
                <div class="ibox-title">Data Table</div>
                </div>*@
            <div class="ibox-body">

                <table class="table table-striped table-bordered table-hover" id="ManageQuestions" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th width="10">No</th>
                            <th width="50">Questions</th>
                            <th width="10">Subject</th>
                            <th width="10">Section</th>
                            <th width="50">Option A</th>
                            <th width="50">Option B</th>
                            <th width="50">Option C</th>
                            <th width="50">Option D</th>
                            <th width="50">Option E</th>
                            <th width="50">Key</th>
                            <th width="50">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>

@section Scripts{
    <script src="~/js/Script/Questions.js"></script>
}