
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}


<div class="content-wrapper">
    <div class="page-heading">
        <h1 class="page-title">Notifications</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/"><i class="la la-home font-20"></i></a>
            </li>
        </ol>
    </div>
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-body">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr hidden>
                            <th width="30%">Id</th>
                            <td id="Id"> </td>
                        </tr>
                        <tr>
                            <th width="30%">Employee</th>
                            <td id="Emp"> </td>
                        </tr>
                        <tr>
                            <th>Message</th>
                            <td id="Message"></td>
                        </tr>
                        <tr>
                            <th>Confirm Date</th>
                            <td id="Date"></td>
                        </tr>
                        @*<tr>
                            <th colspan="2">
                                <button onclick="Delete(this.Id);" class="btn-dark">Ok</button>
                            </th>
                        </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
@section Scripts{
    <script src="~/js/Script/Notification.js"></script>
}