
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}


<div class="content-wrapper">
    <div class="page-heading">
        <h1 class="page-title">Notifications</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/"><i class="la la-home font-20"></i></a>
            </li>
        </ol>
    </div>
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-body text-center">
                <h1 class="admin-info" id="Emp">Hi </h1>
                <br />
                <br />
                <h5 class="font-strong m-b-10 m-t-10" id="Id" hidden></h5>
                <h3 id="Message"></h3>
                <h3 id="Date">confirmed on  </h3>

                <div class="m-b-20 text-muted"></div>



            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
@section Scripts{
    <script src="~/js/Script/Notification.js"></script>
}